/*verifed at 10.26pm 16/8/2019*/
@import url("index.css");
/*hr tag is to ensure that the hr is white colour by default*/
hr{
	background-color:#fff;
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
.container-fluid td{
	width:50%;
}/*
The container-fluid are forced to have 50%
*/